@model IEnumerable<Alumni.Models.UserCVLink>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Creati CV nou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Education.EducationTitle, @item.User.lName @item.User.fName
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserCVLinkID">Editare</a> |
                <a asp-action="Details" asp-route-id="@item.UserCVLinkID">Detalii</a> |
                <a asp-action="Delete" asp-route-id="@item.UserCVLinkID">Stergere</a>
            </td>
        </tr>
}
    </tbody>
</table>
